.place__title {
  margin: 0;
  align-self: end;
  color: white;
  font-style: normal;
  max-width: 460px;
  line-height: 1.06;
  font-size: 72px;
  font-weight: 900;
}

@media screen and (max-width: 1279px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    max-width: 288px;
    font-size: 32px;
    align-self: self-start;
    margin-left: 16px;
    margin-right: 16px;
  }
}